@import "syntax-variables";

.atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor,
:host  {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @light-gray;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

atom-text-editor,
:host{
  .search-results .marker .region {
    background-color: transparent;
    border: 1px solid @syntax-result-marker-color;
  }
}

atom-text-editor,
:host{
  .search-results .marker.current-result .region {
    border: 1px solid @syntax-result-marker-color-selected;
  }
}
.comment {
  color: @very-dark-gray;
  background-color: @light-gray;
  border: 1px solid @light-gray;
}

.entity {
  &.name.type {
    color: @blue;
    font-weight: bold;
  }

  &.other.inherited-class {
    color: @pink;
  }
}

.keyword {
  color: @blue;
  font-weight: bold;

  &.control {
    color: @dark_blue;
  }

  &.operator {
    color: @purple;
  }

  &.other.special-method {
    color: @blue;
  }

  &.other.unit {
    color: @blue;
  }
  &.other {
    color: @dark_green2;
  }
}

.storage {
  color: @dark_blue;
  font-weight: bold;

  &.type{
      &.class {
          &.todo{
              color: @red;
          }
      }
  }

}

.constant {

  &.character.escape {
    color: @cyan;
  }

  &.numeric {
    color: @red;
  }

  &.other.color {
    color: @cyan;
  }

  &.other.symbol {
    color: @green;
  }
  &.language{
    color: @red;
    font-weight: bold;
  }
}

.variable {
  color: @red;

  &.interpolation {
    color: darken(@red, 10%);
  }

  &.parameter.function {
    color: @pink;
  }
  &.language{
      color: @dark_green;
  }
}

.invalid.illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.string {
  color: @green;


  &.regexp {
    color: @cyan;

    .source.ruby.embedded {
      color: @orange;
    }
  }

  &.other.link {
    color: @red;
  }
}

.punctuation {
  &.definition {
    &.comment {
      color: @very-dark-gray;
      background-color: @light-gray;
      border: 1px solid @light-gray;
    }

    &.string,
    &.variable,
    &.parameters,
    &.array {
      color: @syntax-text-color;
    }

    &.heading,
    &.identity {
      color: @blue;
    }

    &.bold {
      color: @light-orange;
      font-style: bold;
    }

    &.italic {
      color: @purple;
      font-style: italic;
    }
    &.inheritance {
      &.begin,
      &.end {
        color: @dark_green;
        font-weight: bold;
      }
    }
    &.arguments {
      &.begin,
      &.end {
      }
    }
    &.list {
      &.begin,
      &.end {
        font-weight: bold;
      }
    }
    &.dictionary {
      &.begin,
      &.end {
        font-weight: bold;
      }
    }
  }

  &.section.embedded {
    color: darken(@red, 10%);
  }

}

.support {
  &.class {
    color: @light-orange;
    &.js {
        color: @dark_green;
        font-weight: bold;
    }
  }
  &.type{
      color: @dark_green2;
      font-weight: bold;
  }
  &.function  {
    color: @dark_green2;
    font-weight: bold;

    &.any-method {
      color: @yellow;
      font-weight: bold;
    }
  }
  &.constant{
      color: @dark_green2;
  }
}

.entity {
  &.name.function {
    color: @blue;
    font-weight: bold;
  }

  &.name.class, &.name.type {
    color: @dark_green;
  }

  &.name.section {
    color: @blue;
  }

  &.name.tag {
    color: @red;
    text-decoration: underline;
  }

  &.other.attribute-name {
    color: @orange;

    &.id {
      color: @blue;
    }
  }
}

.meta {
  &.class {
    color: @green;
    font-weight: bold;
  }

  &.link {
    color: @orange;
  }

  &.require {
    color: @blue;
  }

  &.selector {
    color: @purple;
  }

  &.separator {
    background-color: @gray;
    color: @syntax-text-color;
  }
  &.function-call{
    color: @dark_blue;
  }
  &.brace {
    font-weight: bold;
  }
}

.none {
  color: @syntax-text-color;
}

.markup {
  &.bold {
    color: @orange;
    font-style: bold;
  }

  &.changed {
    color: @purple;
  }

  &.deleted {
    color: @red;
  }

  &.italic {
    color: @purple;
    font-style: italic;
  }

  &.heading .punctuation.definition.heading {
    color: @blue;
  }

  &.inserted {
    color: @green;
  }

  &.list {
    color: @red;
  }

  &.quote {
    color: @orange;
  }

  &.raw.inline {
    color: @green;
  }
}

.source.gfm .markup {
  -webkit-font-smoothing: auto;
  &.heading {
    color: @green;
  }
}

atom-text-editor,
:host{
  .mini .scroll-view {
    padding-left: 1px;
  }
}

atom-text-editor,
:host{
  .is-focused {
    .line.cursor-line {
      background: @light_yellow;
    }
  }
}

// package wrap-guide vertical line
atom-text-editor,
:host{
  .wrap-guide {
    background-color: @red;
  }
}
.search-result .match.highlight-info {
  background-color: @yellow;
}
