// These colors are specific to the theme. Do not use in a package!
// Source:
// https://material.google.com/style/color.html#color-color-palette
@very-light-gray: #000000;
@light-gray: #333;
@gray: #999;
@dark-gray: #f4f4f4;
@very-dark-gray: #ebebeb;

@highlight: rgba(255, 234, 0, 0.54);

@purple: #4A148C;
@pink: #880E4F;
@red: #B71C1C;

@blue: #0D47A1;
@indigo: #1A237E;
@deepPurple: #311B92;

@teal: #004D40; //
@cyan: #006064;
@lightBlue: #01579B;

@green: #1B5E20;
@lightGreen: #33691E;
@lime: #827717;

@orange: #E65100;
@amber: #FF6F00;
@yellow: #F57F17;

@grey: #212121; //
@brown: #3E2723; //
@deepOrange: #BF360C; //

@blueGrey: #263238; //
@black: #000000; //
@white: #ffffff; //

// not used
